@model Film

<h2>Verwijder film uit winkelmand</h2>


@{
    if (Model != null )
    {
        <h5> " @Model.Titel " verwijderen uit jouw winkelmand?</h5>

        <form asp-action="VerwijderUitWinkelmandDoorvoeren" method="post">
            <input type="hidden" name="id" value="@Model.FilmId" />
            <button type="submit" class="btn btn-success">
                <strong>Ja</strong>
            </button>
        </form>


        <br />
        <br />
        <a class="btn btn-success" asp-action="Winkelmand"><strong>nee</strong></a>
    }
    else {
        <p>Film niet gevonden</p>
        <a class="btn btn-success" asp-action="Winkelmand"><strong>Terug</strong></a>
    }

}


